<div fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">
<ng-container *ngFor="let parking of parkings">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="fas fa-car"> </div>
    <mat-card-title>{{parking.name}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
     {{parking.prix}}
    </p>
  </mat-card-content>
  <mat-card-actions>
  <i class="fas fa-minus-circle" (click)="open(content)"></i>
  <!--        Modale    -->
      <ng-template #content let-c="close" let-d="dismiss">
       <div class="modal-header">
       <h4 class="modal-title" id="modal-basic-title">Warning</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Are you sure that you want to delete this parking: </p>
            <p>name: {{parking.name}}</p>
           <p>prix: {{parking.prix}}</p>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-outline-dark" (click)="Delete(parking.parking_id)">Delete</button>
        </div>
      </ng-template>

    <i class="fas fa-edit"></i>
  </mat-card-actions>
</mat-card>
</ng-container>
</div>
