.example-card { /*  la carde taille */
  max-width: 400px;
  margin-top: 15px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
/****** icone delete *******/
.fa-minus-circle{
 margin-left: 7px;
  margin-right: 2px;
  font-size: 2.5em;
}
.fa-minus-circle:hover{
  color: #17a2b8;
  cursor: pointer;
}

/******* icone edit ****/
.fa-edit:hover{
  color: #17a2b8;
  cursor: pointer;
}
.fa-edit{
 /* margin-left: 5px;
  margin-right: 5px;*/
  font-size: 2.3em;
}

/****** button edit ***/
.btn-outline-dark{
  background: #343a40;
  color: white;
  border-color: #17a2b8;
}
.btn-outline-dark:hover{
  color: white;
  background: #17a2b8;
}

/**** close button ****/
.close:hover{
  color: white;
  background: red;
}
.close{
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  padding: 4px;
  padding-top: 3px;;
}

/** icone car ***/
.fa-car{
  font-size: 2.5em;
  color:  #17a2b8;
  padding-left: -1px;
}

 /***** edit input *****/
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.col{
  background-color: #17a2b8;
  height: 100vh;
}

/****** header ******/
.modal-header{
  background-color: #343a40;
}

/**** footer ***/
.modal-footer{
  background-color:  #343a40;
}

/*** show msg dans modal ****/
.show{
  font-size: large;
  font-weight: 500;
  color: #17a2b8;
}


/**** card ***/
.example-card{
  color: white;
  background-color: #343a40;
}

/*** search ***/
.fa-search{
  margin-top: 7px;
  margin-left: 2px;
  color: #17a2b8;
  font-size: 1.5em;
}


.form-control{
  margin-top: 5px;
}
/*** add button ***/
.fa-plus{
  font-size: 1.8em;
  color: #17a2b8;
  margin-top: 7px;
}

