<div  fxLayout="row" fxLayoutAlign="start stretch">
  <div fxFlex="14">
      <form class="form-inline md-form form-sm mt-0" fxLayout="row" fxLayoutAlign="start stretch">


        <div fxFlex="10">
          <i class="fas fa-plus" (click)="openAdd(content2)" *ngIf="sessionInfo.role == 'Admin'"></i>
          <!-- modal for add parking  -->
          <ng-template #content2 let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" style="color: white;" id="modal-basic-title">Adding...</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--  add input -->
                  <div class="container">
                          <div id="login-row" class="row justify-content-center align-items-center">
                              <div id="login-column" class="col-md-6">
                                  <div id="login-box" class="col-md-12">
                                      <form id="login-form" class="form" action="" method="post">
                                          <h3 class="text-center text-info">Add</h3>

                                          <div class="form-group">
                                              <label for="name" class="text-info">Name:</label><br>
                                              <input type="text" name="name" id="name" class="form-control" [(ngModel)]="parking_insertion.name">
                                          </div>

                                          <div class="form-group">
                                              <label for="adress" class="text-info">Adress:</label><br>
                                              <input type="text" name="adress"  class="form-control" [(ngModel)]="parking_insertion.adress">
                                          </div>
                                          <div class="form-group">
                                            <div class="form-group">
                                              <label for="Price" class="text-info">Price:</label><br>
                                              <input type="text" name="Price"  class="form-control" [(ngModel)]="parking_insertion.price">
                                          </div>
                                          </div>

                                          <div class="form-group" fxLayout="row" fxLayoutAlign="space-around stretch" >
                                            <div fxFlex="55">
                                                <label for="city" class="text-info">City:</label><br>
                                                <input type="text" name="city" id="city" class="form-control" [(ngModel)]="ville_insertion.city">
                                            </div>
                                            <div fxFlex="7"></div>
                                            <div fxFlex="42">
                                               <label for="code" class="text-info">Code:</label><br>
                                               <input type="text" name="code" id="code" class="form-control" [(ngModel)]="ville_insertion.code">
                                            </div>
                                        </div>

                                          <div class="form-group">
                                            <div class="form-group">
                                              <label for="nombre de place" class="text-info">Nombre de place:</label><br>
                                              <input type="text" name="nombre place"  class="form-control" [(ngModel)]="parking_insertion.nb_place">
                                          </div>
                                          </div>

                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
            <!-- end addition-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info btn-md" (click)="Add()">Add</button>
            </div>
          </ng-template>
       </div>

        <div fxFlex="90">
            <input class="form-control form-control-sm ml-3 " type="text" placeholder="Search By Name"
            aria-label="Search">
        </div>

      </form>
  </div>

  <div fxFlex="86">
    <i class="fas fa-search" aria-hidden="true"></i>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">
<ng-container *ngFor="let parking of parkings">
<mat-card class="example-card">
    <mat-card-header fxLayout="row" fxLayoutAlign="start stretch">

    <div   fxFlex="13" >
      <i class="fas fa-car"></i>
    </div>

    <div fxFlex="67">
          <div>{{parking.name}}</div>
          <div style="color: white;">{{parking.adress}}</div>
    </div>

      <div fxFlex="20" fxLayout="row" fxLayoutAlign="end stretch">
        <i class="fas fa-edit" (click)="openEdit(content1)" *ngIf="sessionInfo.role == 'Admin'" ></i>
        <!-- modal for edit call function Edit  -->
        <ng-template #content1 let-c="close" let-d="dismiss">
         <div class="modal-header">
           <h4 class="modal-title" style="color: white;" id="modal-basic-title">Editing...</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--  edit input -->
               <div class="container">
                       <div id="" class="row justify-content-center align-items-center">
                           <div id="" class="col-md-6">
                               <div id="" class="col-md-12">
                                   <form id="login-form" class="form" action="" method="post">
                                       <h3 class="text-center text-info">Edit</h3>

                                       <div class="form-group">
                                           <label for="name" class="text-info">Name:</label><br>
                                           <input type="text" name="name" id="name" class="form-control">
                                       </div>

                                       <div class="form-group">
                                           <label for="price" class="text-info">Price:</label><br>
                                           <input type="text" name="price" id="price" class="form-control">
                                       </div>

                                       <div class="form-group">
                                        <label for="adress" class="text-info">Adress:</label><br>
                                        <input type="text" name="adress" id="adress" class="form-control">
                                       </div>

                                         <div class="form-group" fxLayout="row" fxLayoutAlign="space-around stretch" >
                                           <div fxFlex="55">
                                               <label for="city" class="text-info">City:</label><br>
                                               <input type="text" name="city" id="city" class="form-control">
                                           </div>
                                           <div fxFlex="7"></div>
                                           <div fxFlex="42">
                                              <label for="code" class="text-info">Code:</label><br>
                                              <input type="text" name="code" id="code" class="form-control">
                                           </div>
                                       </div>

                                       <div class="form-group">
                                        <label for="nb_place" class="text-info">Number of places:</label><br>
                                        <input type="text" name="nb_place" id="nb_place" class="form-control">
                                    </div>

                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
         <!-- end edit -->
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-info btn-md" (click)="Edit()">Edit</button>
          </div>
        </ng-template>



        <i class="fas fa-plus-circle" (click)="openReservation(content3)" *ngIf="sessionInfo.role == 'user'"></i>
        <ng-template #content3 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" style="color: white;" id="modal-basic-title">Reservation...</h4>
               <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <!--  edit input -->
                <div class="container">
                    </div>
          <!-- end edit -->
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-info btn-md" (click)="Reserver()">Reservation</button>
           </div>
         </ng-template>



        <i class="fas fa-minus-circle" (click)="openDelete(content)" *ngIf="sessionInfo.role == 'admin'"></i>
        <!--     Modale for delete call function Delete  -->
            <ng-template #content let-c="close" let-d="dismiss">
             <div class="modal-header">
             <h4 class="modal-title" style="color: white;" id="modal-basic-title">Warning</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p style="font-size: 25px; font-weight: bold;">Are you sure that you want to delete this parking: </p>
                  <p><span class="show">Name:</span> {{parking.name}}</p>
                 <p><span class="show">Adress:</span> {{parking.adress}}</p>
                 <p><span class="show">Price:</span> {{parking.price}}</p>
                 <p><span class="show">Ville:</span> {{parking.ville.code}} {{parking.ville.city}}</p>
              </div>
              <div class="modal-footer">
               <button type="button" class="btn btn-outline-dark" (click)="Delete(parking.parking_id)">Delete</button>
              </div>
            </ng-template>


      </div>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h2>Infos: </h2>
    <p><span class="show"> Code postal: </span>{{parking.ville.code}}</p>
    <p><span class="show"> City: </span>{{parking.ville.city}}</p>
    <p><span class="show"> Price: </span>{{parking.price}}$ per day</p>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
</ng-container>
</div>

