<div class="carous_padding">

  <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/../assets/parking1.jpg" class="carousel-imgs" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Check our Parkings</h3>
          <p>Click on the reservation button to do your reservation</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/../assets/parking2.jpg" alt="Random second slide" class="carousel-imgs">
        </div>
        <div class="carousel-caption carousel_color">
          <h3>Check our Parkings</h3>
          <p>Click on the reservation button to do your reservation</p>
        </div>
      </ng-template>

    </ngb-carousel>

    <!-- ------------- -->


</div>
