<div class='container-fluid'>
  <div >
      <ngb-carousel>
          <ng-template ngbSlide>
              <img src="../assets/car1.jpg" alt="Delhi Metro">
              <div class="carousel-caption">
                  <h3 class="titre">Delhi Metro</h3>
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="../assets/per.jpg" alt="Bangalore Metro">
              <div class="carousel-caption">
                  <h3 class="titre">Bangalore Metro</h3>
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="../assets/per.jpg" alt="Channai Metro">
              <div class="carousel-caption">
                  <h3 class="titre">Channai Metro</h3>
              </div>
          </ng-template>
      </ngb-carousel>
  </div>

</div>
