<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/parkings" >Parkings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="sessionInfo.status == 'LOGGED'" ngbDropdown>
       <a class="nav-link" id="dropdownBasic2" ngbDropdownToggle>Settings <span class="sr-only">(current)</span></a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button ngbDropdownItem routerLink="/settings" style="color:cyan;" >Reservation</button>
          <button ngbDropdownItem routerLink="/settings-ville" style="color:cyan;" >Ville</button>
        </div>
      </li>

    </ul>
    <form class="form-inline my-1 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngIf="sessionInfo.status == 'Not Logged'">
          <a class="nav-link" routerLink="/login" >Login <i class="fas fa-sign-in-alt"  ></i> <span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item active" *ngIf="sessionInfo.status == 'LOGGED'" ngbDropdown>
          <i class="fas fa-grin" ></i><a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{sessionInfo.username}} <span class="sr-only">(current)</span></a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="leave()" style="color:cyan;" >LogOut</button>
          </div>
        </li>

      </ul>

    </form>
  </div>
</nav>
